#menubar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #272727;
    box-shadow: 0px 4px 4px #111;
}
.menu_item {
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s;
    color: #fff;
}
.menu_item:hover {
    background-color: #fff;
    color: #000;
}
