#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}
#footer > a {
    text-decoration: none;
}
span#copyleft {
    font-weight: bold;
    display: inline-block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
