meta(charset='utf-8')/
meta(http-equiv='content-type', content='text/html')/
meta(http-equiv='X-UA-Compatible', content='IE=edge;chrome=1')/
meta(name='viewport', content='width=device-width, initial-scale=1.0')/
